[Unit]
Description=Twitter Reviewer App
After=network.target

[Service]
Type=simple
User=danny
WorkingDirectory=/home/danny/workspace/twitter-reviewer
ExecStart=/home/danny/.local/share/virtualenvs/twitter-reviewer/bin/python3 app.py
Environment=PORT=7777
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
